adal==1.2.7 ; python_version >= "3.8" and python_version < "3.9"
aiohttp-cors==0.7.0 ; python_version >= "3.8" and python_version < "3.9"
aiohttp==3.8.4 ; python_version >= "3.8" and python_version < "3.9"
aiorwlock==1.3.0 ; python_version >= "3.8" and python_version < "3.9"
aiosignal==1.3.1 ; python_version >= "3.8" and python_version < "3.9"
alog==0.9.13 ; python_version >= "3.8" and python_version < "3.9"
ansicon==1.89.0 ; python_version >= "3.8" and python_version < "3.9" and platform_system == "Windows"
anyio==3.7.0 ; python_version >= "3.8" and python_version < "3.9"
argparse==1.4.0 ; python_version >= "3.8" and python_version < "3.9"
asgiref==3.7.2 ; python_version >= "3.8" and python_version < "3.9"
async-timeout==4.0.2 ; python_version >= "3.8" and python_version < "3.9"
attrs==23.1.0 ; python_version >= "3.8" and python_version < "3.9"
avro==1.11.1 ; python_version >= "3.8" and python_version < "3.9"
azure-core==1.27.1 ; python_version >= "3.8" and python_version < "3.9"
azure-identity==1.13.0 ; python_version >= "3.8" and python_version < "3.9"
azure-storage-blob==12.9.0 ; python_version >= "3.8" and python_version < "3.9"
azure-storage-file-share==12.7.0 ; python_version >= "3.8" and python_version < "3.9"
blessed==1.20.0 ; python_version >= "3.8" and python_version < "3.9"
boto3==1.26.155 ; python_version >= "3.8" and python_version < "3.9"
botocore==1.29.155 ; python_version >= "3.8" and python_version < "3.9"
cachetools==5.3.1 ; python_version >= "3.8" and python_version < "3.9"
certifi==2023.5.7 ; python_version >= "3.8" and python_version < "3.9"
cffi==1.15.1 ; python_version >= "3.8" and python_version < "3.9"
charset-normalizer==3.1.0 ; python_version >= "3.8" and python_version < "3.9"
click==8.0.4 ; python_version >= "3.8" and python_version < "3.9"
cloudevents==1.9.0 ; python_version >= "3.8" and python_version < "3.9"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.9" and platform_system == "Windows"
colorful==0.5.5 ; python_version >= "3.8" and python_version < "3.9"
cryptography==41.0.1 ; python_version >= "3.8" and python_version < "3.9"
deprecation==2.1.0 ; python_version >= "3.8" and python_version < "3.9"
distlib==0.3.6 ; python_version >= "3.8" and python_version < "3.9"
exceptiongroup==1.1.1 ; python_version >= "3.8" and python_version < "3.9"
fastapi==0.88.0 ; python_version >= "3.8" and python_version < "3.9"
filelock==3.12.2 ; python_version >= "3.8" and python_version < "3.9"
frozenlist==1.3.3 ; python_version >= "3.8" and python_version < "3.9"
google-api-core==2.11.1 ; python_version >= "3.8" and python_version < "3.9"
google-auth==2.20.0 ; python_version >= "3.8" and python_version < "3.9"
google-cloud-core==2.3.2 ; python_version >= "3.8" and python_version < "3.9"
google-cloud-storage==2.9.0 ; python_version >= "3.8" and python_version < "3.9"
google-crc32c==1.5.0 ; python_version >= "3.8" and python_version < "3.9"
google-resumable-media==2.5.0 ; python_version >= "3.8" and python_version < "3.9"
googleapis-common-protos==1.59.1 ; python_version >= "3.8" and python_version < "3.9"
gpustat==1.1 ; python_version >= "3.8" and python_version < "3.9"
grpcio==1.43.0 ; python_version >= "3.8" and python_version < "3.9"
h11==0.14.0 ; python_version >= "3.8" and python_version < "3.9"
httpcore==0.17.2 ; python_version >= "3.8" and python_version < "3.9"
httpx==0.24.1 ; python_version >= "3.8" and python_version < "3.9"
idna==3.4 ; python_version >= "3.8" and python_version < "3.9"
importlib-resources==5.12.0 ; python_version >= "3.8" and python_version < "3.9"
isodate==0.6.1 ; python_version >= "3.8" and python_version < "3.9"
jinxed==1.2.0 ; python_version >= "3.8" and python_version < "3.9" and platform_system == "Windows"
jmespath==1.0.1 ; python_version >= "3.8" and python_version < "3.9"
joblib==1.2.0 ; python_version >= "3.8" and python_version < "3.9"
jsonschema==4.17.3 ; python_version >= "3.8" and python_version < "3.9"
kserve==0.10.1.1 ; python_version >= "3.8" and python_version < "3.9"
kubernetes==26.1.0 ; python_version >= "3.8" and python_version < "3.9"
logging==0.4.9.6 ; python_version >= "3.8" and python_version < "3.9"
minio==7.1.3 ; python_version >= "3.8" and python_version < "3.9"
msal-extensions==1.0.0 ; python_version >= "3.8" and python_version < "3.9"
msal==1.22.0 ; python_version >= "3.8" and python_version < "3.9"
msgpack==1.0.5 ; python_version >= "3.8" and python_version < "3.9"
msrest==0.7.1 ; python_version >= "3.8" and python_version < "3.9"
multidict==6.0.4 ; python_version >= "3.8" and python_version < "3.9"
numpy==1.24.3 ; python_version >= "3.8" and python_version < "3.9"
nvidia-ml-py==11.525.112 ; python_version >= "3.8" and python_version < "3.9"
oauthlib==3.2.2 ; python_version >= "3.8" and python_version < "3.9"
opencensus-context==0.1.3 ; python_version >= "3.8" and python_version < "3.9"
opencensus==0.11.2 ; python_version >= "3.8" and python_version < "3.9"
orjson==3.9.1 ; python_version >= "3.8" and python_version < "3.9"
packaging==23.1 ; python_version >= "3.8" and python_version < "3.9"
pathlib==1.0.1 ; python_version >= "3.8" and python_version < "3.9"
pkgutil-resolve-name==1.3.10 ; python_version >= "3.8" and python_version < "3.9"
platformdirs==3.6.0 ; python_version >= "3.8" and python_version < "3.9"
portalocker==2.7.0 ; python_version >= "3.8" and python_version < "3.9"
prometheus-client==0.13.1 ; python_version >= "3.8" and python_version < "3.9"
protobuf==3.20.3 ; python_version >= "3.8" and python_version < "3.9"
psutil==5.9.5 ; python_version >= "3.8" and python_version < "3.9"
py-spy==0.3.14 ; python_version >= "3.8" and python_version < "3.9"
pyasn1-modules==0.3.0 ; python_version >= "3.8" and python_version < "3.9"
pyasn1==0.5.0 ; python_version >= "3.8" and python_version < "3.9"
pycparser==2.21 ; python_version >= "3.8" and python_version < "3.9"
pydantic==1.10.9 ; python_version >= "3.8" and python_version < "3.9"
pyjwt==2.7.0 ; python_version >= "3.8" and python_version < "3.9"
pyjwt[crypto]==2.7.0 ; python_version >= "3.8" and python_version < "3.9"
pyrsistent==0.19.3 ; python_version >= "3.8" and python_version < "3.9"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "3.9"
python-rapidjson==1.10 ; python_version >= "3.8" and python_version < "3.9"
pywin32==306 ; python_version >= "3.8" and platform_system == "Windows" and python_version < "3.9"
pyyaml==6.0 ; python_version >= "3.8" and python_version < "3.9"
ray[serve]==2.0.0 ; python_version >= "3.8" and python_version < "3.9"
requests-oauthlib==1.3.1 ; python_version >= "3.8" and python_version < "3.9"
requests==2.31.0 ; python_version >= "3.8" and python_version < "3.9"
rsa==4.9 ; python_version >= "3.8" and python_version < "3.9"
s3transfer==0.6.1 ; python_version >= "3.8" and python_version < "3.9"
scikit-learn==1.2.2 ; python_version >= "3.8" and python_version < "3.9"
scipy==1.10.1 ; python_version >= "3.8" and python_version < "3.9"
setuptools==67.8.0 ; python_version >= "3.8" and python_version < "3.9"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.9"
smart-open==6.3.0 ; python_version >= "3.8" and python_version < "3.9"
sniffio==1.3.0 ; python_version >= "3.8" and python_version < "3.9"
starlette==0.22.0 ; python_version >= "3.8" and python_version < "3.9"
tabulate==0.9.0 ; python_version >= "3.8" and python_version < "3.9"
threadpoolctl==3.1.0 ; python_version >= "3.8" and python_version < "3.9"
timing-asgi==0.3.0 ; python_version >= "3.8" and python_version < "3.9"
tritonclient==2.18.0 ; python_version >= "3.8" and python_version < "3.9"
typing-extensions==4.6.3 ; python_version >= "3.8" and python_version < "3.9"
typing==3.7.4.3 ; python_version >= "3.8" and python_version < "3.9"
urllib3==1.26.16 ; python_version >= "3.8" and python_version < "3.9"
uvicorn==0.16.0 ; python_version >= "3.8" and python_version < "3.9"
virtualenv==20.23.1 ; python_version >= "3.8" and python_version < "3.9"
wcwidth==0.2.6 ; python_version >= "3.8" and python_version < "3.9"
websocket-client==1.6.0 ; python_version >= "3.8" and python_version < "3.9"
yarl==1.9.2 ; python_version >= "3.8" and python_version < "3.9"
zipp==3.15.0 ; python_version >= "3.8" and python_version < "3.9"
